body {
    background-image: url(./fondo.jpg);
    background-position-y: center;
    
}

.calculadora {
    margin: 100px auto;
    border: solid 1px green;
    width: 370px;
    border-radius: 1rem;
    background-color: rgba(252, 221, 221, 0.5);
    text-align: center;
    font-family: 'DotGothic16', sans-serif;
}

.contenedor-resultado {
    width: 350px;
    height: 80px;
    border: solid 1px lightgray;
    border-radius: 1em;
    margin: 50px auto;
    background-color: rgba(43, 44, 43, 1);  
    color: beige;  
    display: flex;
}

.contenedor-botones {
    display: grid;
    gap: 10px;
    padding: 10px;
    grid-template-columns: repeat(6, 50px);
    margin: 50px auto;
}

.boton {
    width: 50px;
    height: 50px;
    background-color: blanchedalmond;
    font-weight: bold;
    border-radius: 50%;
}

.igual {
    height: 110px;
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 7;
    background-color: #F59906;
    color: beige;
    border-radius: 1rem;
}

.resultado {
    margin: auto;
    font-size: 1.5rem;
    letter-spacing: .1rem;
}

.nombre {
    margin: 1rem auto;
    font-size: 1.8rem;
    color: rgb(6, 62, 6);
    font-family: 'Barlow', sans-serif;
}

.numbers {
    background-color: #313131;
    color: beige;
}

.numbers:hover {
    background-color: #313191;
}

.igual:hover {
    background-color: #F59986;
}

.nan {
    background-color: #F59906;
    color: beige;
}

.nan:hover {
    background-color: #F59986;
}

.texto-resultado {
    font-family: 'Barlow', sans-serif;
    font-size: 1.5rem;
    color: beige;
}